.info {
  background-color: black;
  color: white;
  /* margin-top: -20px; */
  text-align: center;
  height: 30px;
}

p {
  display: inline-block;
  padding-left: 40px;
  /* padding-top: 5px; */
  font-size: 14px;
  /* padding-bottom: 0px; */
  margin-top: 0px;
  padding-top: 5px;
}

span.red {
  color: red;
  display: inline-block;
}
span.red:after {
  content: ' \25BC';
}

span.green {
  color: green;
  display: inline-block;
}
span.green:after {
  content: ' \25B2';
}

.wsj{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
  margin-bottom: 30px;
}
.article {
  column-count: 1;
}

.col {
  column-count: 2;
}

.flex{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

ul {
  list-style: none;
  text-decoration: none;
  color: #1C1C1C;
}

ul li{
  display: inline-block;
  float: none;
  margin-right: 30px;
  
 
}

/* .list-item:hover{
  color:#008DFF;
} */

.link{
  color: #1C1C1C;
  margin-top: 50px;
}


/* .ml-n1 {
  margin-left: -0.25rem !important;
} */

/* .navbar-nav {
  float:none;
  margin:0 auto;

}

.list-item{
  display: inline-block;
  text-align: center;
} */

/* .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  text-align: center;
} */

/* nav ul{
  text-align:center;
}

.nav ul li{
  display:inline-block;
  padding:20px;
} */
/* ul li {
  margin-right: 35vw; 
} */
/* .navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
  } */
  /* @media (min-width: 768px) {
    .navbar-nav {
      width: 100%;
      text-align: center;
    }
    .navbar-nav > li {
      float: none;
      display: inline-block;
    }
    .navbar-nav > li.navbar-right {
      float: right !important;
    }
  } */



